<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIVTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <FFXIVTool.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Primary" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="TopApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreastSavedKey" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="HeightSavedKey" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="HeightSavedInc" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="PosXSavedKey" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="PosXSavedInc" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="PosYSavedKey" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="PosYSavedInc" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="PosZSavedKey" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="PosZSavedInc" serializeAs="String">
                <value>0.01</value>
            </setting>
        </FFXIVTool.Properties.Settings>
    </userSettings>
</configuration>